# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# misc
.webpack
.idea
#.vscode
.build
*.log
_warmup

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# cache
.eslintcache
